<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Cobot">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.00525395666776162 0.0408525795740504 -0.00282307452063939"
        rpy="0 0 0" />
      <mass
        value="0.262781517647469" />
      <inertia
        ixx="0.000298657832416568"
        ixy="2.03974185168871E-05"
        ixz="3.98921535405612E-05"
        iyy="0.000458204278092449"
        iyz="-1.86934752367561E-05"
        izz="0.000359003269018671" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link1">
    <inertial>
      <origin
        xyz="0.01271 6.5408E-05 0.063242"
        rpy="0 0 0" />
      <mass
        value="0.065421" />
      <inertia
        ixx="2.0385E-05"
        ixy="-2.2621E-11"
        ixz="-3.5853E-08"
        iyy="2.1853E-05"
        iyz="3.9072E-07"
        izz="1.2097E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf/meshes/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89412 0.89412 0.89412 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf/meshes/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint0"
    type="revolute">
    <origin
      xyz="-0.012386 0.0016827 0.0463"
      rpy="0 0 -0.13503" />
    <parent
      link="base_link" />
    <child
      link="Link1" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link2">
    <inertial>
      <origin
        xyz="0.0124466636587925 -5.95941678555704E-05 0.116365819603615"
        rpy="0 0 0" />
      <mass
        value="0.126238291044564" />
      <inertia
        ixx="0.000260048350322063"
        ixy="-1.56028724960849E-11"
        ixz="2.53370157988681E-08"
        iyy="0.000276157182133765"
        iyz="-1.44827890234785E-10"
        izz="2.72102296500098E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf/meshes/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf/meshes/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint1"
    type="revolute">
    <origin
      xyz="0 0.00062634 0.0889"
      rpy="0 0 0" />
    <parent
      link="Link1" />
    <child
      link="Link2" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link3">
    <inertial>
      <origin
        xyz="0.0125559189956351 -6.67246436310775E-05 0.0947095307629157"
        rpy="0 0 0" />
      <mass
        value="0.11268362796461" />
      <inertia
        ixx="0.000157659793468441"
        ixy="-3.22653920261203E-10"
        ixz="-9.84402629564098E-09"
        iyy="0.000174514600376214"
        iyz="-3.89233565336632E-09"
        izz="2.72715738576209E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf/meshes/Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf/meshes/Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint2"
    type="revolute">
    <origin
      xyz="0 -0.00020923 0.2073"
      rpy="0 0 0" />
    <parent
      link="Link2" />
    <child
      link="Link3" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link4">
    <inertial>
      <origin
        xyz="0.0127649372865127 2.64459189193867E-10 0.0152585681228609"
        rpy="0 0 0" />
      <mass
        value="0.0101757375861059" />
      <inertia
        ixx="1.50046840827186E-06"
        ixy="2.9336577622294E-12"
        ixz="-1.69292407282572E-12"
        iyy="4.12314608309214E-06"
        iyz="-2.95473556254146E-14"
        izz="3.23610424333155E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf/meshes/Link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.894117647058823 0.894117647058823 0.894117647058823 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf/meshes/Link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint3"
    type="revolute">
    <origin
      xyz="0 -0.00020911 0.1673"
      rpy="0 0 0" />
    <parent
      link="Link3" />
    <child
      link="Link4" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>